@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

.hero-container {
    background: url('../images/main-hero1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
