@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

.hero-container {
    background: url('../images/main-hero1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-box {
    color: #fff;
    max-width: 500px;
    text-align: center;
}

.intro-box h2 {
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
    font-family: 'Black Ops One', cursive;
}

.intro-box p {
    font-size: 1.25rem;
    font-weight: 400;
}

.intro-box a {
    display: inline-block;
    border-radius: 0.5rem;
    padding: 0.925rem;
    background-color: #E6E345;
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    color: #383838;
    text-decoration: none;
}

@media screen and ( max-width: 1034px ) {

    .intro-box {
        padding: 3.3rem 4.5rem;
    }
    
    .intro-box h2 {
        margin-top: 1rem;
    }

}

@media screen and ( max-width: 870px ) {
    
    .intro-box {
        padding: 2.2rem 3.5rem;
    }

    .intro-box h2 {
        font-size: 2.5rem;
    }

    .intro-box p {
        font-size: 1.16rem;
    }

    .hero {
        margin-top: 4rem;
    }
    
}

@media screen and ( max-width: 500px ) {

    .hero-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .intro-box {
        padding-top: .6rem;
    }

    .intro-box h2 {
        margin: 0;
        font-size: 2.3rem;
    }

    .image-box {
        background-color: #383838;
    }

    .avatar {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }

}

@media screen and ( max-width: 390px ) {

    .hero-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .intro-box {
        padding-bottom: 4.6rem;
    }

    .intro-box p {
        margin-bottom: 2.3rem;
    }

    .intro-box h2 {
        margin: 0;
        font-size: 2.4rem;
    }

    .intro-box a {
        font-size: .9rem;
    }

    .image-box {
        background-color: #383838;
    }

    .avatar {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
    
}