@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Dark Mode styles */
#dark {
  background-color: #333;
  color: #fff;
}

#dark .nav{
  background-color: #333;
}

#dark .mobile-nav-container {
  background-color: #333;
}

#dark .dropdown {
  color: #E6E345;
}

#dark .dark-mode {
  color: #E6E345;
}

#dark .dropdown-items {
  background-color: #333;
}

#dark .dropdown-items a {
  color: #E6E345;
  border-bottom: 0.5px solid rgba(230, 227, 69, 0.502);
}

#dark .dropdown-items a:last-child {
  border-bottom: none;
}

#dark .nav-links {
  color: #E6E345;
}

#dark .logo {
  color: #E6E345;
}

#dark .skill-box {
  background-color: #ffffff34;
  color: #e6e345cc;
}

#dark .work-subtitle, #dark .layer-one-text h4, #dark .layer-one-text button, #dark .layer-two-text h4, #dark .layer-two-text button, #dark .layer-three-text h4, #dark .layer-three-text button {
  color: #E6E345;
}

#dark .arrow-img {
  color: #E6E345;
}

#dark .testimonial-subtitle, #dark .testimonies h4, #dark .testimonies h6 {
  color: #E6E345;
}

#dark .carousel__navigation-button {
  background-color: #e6e345e5;
}

#dark footer {
  background-color: #e6e34566;
}

#light {
  background-color: #f5f5f5;
  color: #383838;
}

@tailwind base;
@tailwind components;
@tailwind utilities;