@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Header Styles */
.nav {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 5;
}

.nav-container {
    margin-left: 6rem;
    display: flex;
    align-items: center;
    gap: 5rem;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    color: #333;
    font-size: 2.2rem;
    margin: 1rem 0;
    cursor: pointer;
}

.nav-container p {
    font-size: 1.122rem;
    cursor: pointer;
}

/* Hero component styles */
.hero {
    margin-top: 4.5rem;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-template-rows: 600px;
}

.intro-box {
    background-color: #383838;
    color: #fff;
    padding: 10rem 9.375rem;
}

.intro-box h2 {
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
}

.intro-box p {
    font-size: 1.25rem;
    font-weight: 400;
}

.intro-box button {
    border-radius: 0.5rem;
    padding: 0.925rem;
    background-color: #E6E345;
    border: none;
    outline: none;
    font-size: 1.123rem;
    font-weight: 500;
    cursor: pointer;
}

.avatar{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Skills component styles */
.skills {
    width: 100%;
}

.skills-container {
    margin-top: 6.25rem;
    margin-left: 6rem;
    margin-right: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.skill-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 17.188rem;
    height: 13.188rem;
    background: #e6e34566;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.17);
    border-radius: 8px;
    padding-left: 2rem;
}

.skill-box h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: 600;
    vertical-align: middle;
}

.skill-box img {
    width: 17%;
    vertical-align: middle;
    padding-right: .5rem;
}

.skill-box p {
    font-size: 1rem;
}

/* Works Component styles */
.works {
    width: 100%;
}

.work-title {
    margin: 0;
    margin-top: 6rem;
    font-weight: 600;
    font-size: 1rem;
    opacity: 0.6;
    text-align: center;
}

.work-subtitle {
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: 3rem;
}

.works-container {
    margin-left: 6rem;
    margin-right: 6rem;
}

.work-layer-one {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    margin-bottom: 6rem;
}

.layer-one-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.layer-one-text {
    width: 50%;
    padding: 6.25rem 3.125rem;
}

.layer-one-text h4 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1rem;
}

.layer-one-text p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2.5rem;
}

.layer-one-text button {
    font-size: 1.25rem;
    font-weight: 500;
    background: none;
    outline: none;
    border: none;
    text-align: start;
    padding: 0;
    cursor: pointer;
}

.arrow-img {
    vertical-align: middle;
    padding-left: 0.625rem;
    color: #333;
    cursor: pointer;
}

.work-layer-two {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    margin-bottom: 6rem;
}

.layer-two-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.layer-two-text {
    width: 50%;
    padding: 6.25rem 3.125rem;
    padding-left: 0;
}

.layer-two-text h4 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1rem;
}

.layer-two-text p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2.5rem;
}

.layer-two-text button {
    font-size: 1.25rem;
    font-weight: 500;
    background: none;
    outline: none;
    border: none;
    text-align: start;
    padding: 0;
    cursor: pointer;
}

.work-layer-three {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    margin-bottom: 6rem;
}

.layer-three-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.layer-three-text {
    width: 50%;
    padding: 6.25rem 3.125rem;
}

.layer-three-text h4 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1rem;
}

.layer-three-text p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2.5rem;
}

.layer-three-text button {
    font-size: 1.25rem;
    font-weight: 500;
    background: none;
    outline: none;
    border: none;
    text-align: start;
    padding: 0;
    cursor: pointer;
}

/* Testimonials component styles */

.testimonial-title {
    margin: 0;
    font-weight: 600;
    font-size: 1rem;
    opacity: 0.6;
    text-align: center;
}

.testimonial-subtitle {
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.testimonial-extratitle {
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}

@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
}
  
@keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
}
  
@keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
}

.carousel-container {
    max-width: 550px;
    margin: 0 auto;
    margin-top: 4rem;
}
  
ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
}
  
.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
  
.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    counter-increment: item;
}

.testimonies {
    text-align: center;
}

.testimonies p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.85rem;
    padding: 0 1rem;
}

.testimonies h4 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: .3rem;
}

.testimonies h6 {
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}
  
.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

.carousel__prev, .carousel__next {
    font-size: 0;
}
  
@media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
}
  
@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
}
  
.carousel:hover .carousel__snapper, .carousel:focus-within .carousel__snapper {
    animation-name: none;
}
  

.carousel__navigation {
    position: absolute;
    right: 0;
    bottom: -10px;
    left: 0;
    text-align: center;
}
  
.carousel__navigation-list, .carousel__navigation-item {
    display: inline-block;
}
  
.carousel__navigation-button {
    display: inline-block;
    width: .7rem;
    height: .7rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
}

/* Footer component styles */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    margin-top: 5rem;
}

.footer-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0;
    padding-top: 2.5rem;
}

.footer-subtitle {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 0;
}

.socials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.socials-box img {
    width: 75%;
    cursor: pointer;
}

footer p {
    margin-bottom: 0;
    padding-bottom: 2rem;
}

/* Dark Mode styles */
.dark-mode {
    margin-left: 29.688rem;
    cursor: pointer;
}

#dark {
    background-color: #333;
    color: #fff;
}

#dark .nav{
    background-color: #333;
}

#dark .logo {
    color: #E6E345;
}

#dark .skill-box {
    background-color: #ffffff34;
    color: #e6e345cc;
}

#dark .work-subtitle, #dark .layer-one-text h4, #dark .layer-one-text button, #dark .layer-two-text h4, #dark .layer-two-text button, #dark .layer-three-text h4, #dark .layer-three-text button {
    color: #E6E345;
}

#dark .arrow-img {
    color: #E6E345;
}

#dark .testimonial-subtitle, #dark .testimonies h4, #dark .testimonies h6 {
    color: #E6E345;
}

#dark .carousel__navigation-button {
    background-color: #e6e345e5;
}

#dark footer {
    background-color: #e6e34566;
}

#light {
    background-color: #fff;
    color: #383838;
}

@media screen and ( max-width: 1034px ) {

    .nav-container {
        margin-left: 4rem;
    }
    
    .intro-box {
        padding: 5rem 4.5rem;
    }
    
    .intro-box h2 {
        margin-top: 1rem;
    }
    
    .skills-container {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .skill-box {
        padding-left: 1.15rem;
    }

    .skill-box img {
        padding-right: 0.15rem;
    }

    .works-container {
        margin-left: 4rem;
        margin-right: 4rem;
    }

}

@media screen and ( max-width: 870px ) {

    .nav-container {
        gap: 2rem;
    }

    .dark-mode {
        margin-left: 6rem;
    }
    
    .intro-box {
        padding: 4rem 3.5rem;
    }

    .skill-box {
        padding-left: .8rem;
        height: unset;
    }

    .skill-box h3 {
        font-size: 1.1rem;
    }

    .skill-box img {
        padding-right: 0;
    }

    .layer-one-text p, .layer-two-text p, .layer-three-text p {
        line-height: 2.2rem;
    }
    
}

@media screen and ( max-width: 500px ) {

    .nav-container {
        margin-left: 1.3rem;
    }

    .dark-mode {
        margin-left: 14.9rem;
    }

    .nav-container p {
        display: none;
    }

    .hero-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .intro-box h2 {
        margin: 0;
        font-size: 2.5rem;
    }

    .image-box {
        background-color: #383838;
    }

    .avatar {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
    
    .skills-container {
        margin-top: 4rem;
        margin-left: 1.3rem;
        margin-right: 1.3rem;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

    .skill-box {
        height: 13.188rem;
        padding-left: 3rem;
    }

    .skill-box h3 {
        font-size: 1.35rem;
        margin-top: 0;
    }

    .work-title {
        margin-top: 4rem;
    }

    .work-subtitle {
        margin-left: 1.3rem;
        margin-right: 1.3rem;
        font-size: 2.5rem;
    }

    .works-container {
        margin-left: 1.3rem;
        margin-right: 1.3rem;
    }

    .work-layer-one, .work-layer-three{
        display: flex;
        flex-direction: column;
        margin-bottom: 4rem;
    }

    .layer-one-text, .layer-three-text, .layer-two-text {
        width: unset;
        padding: unset;
    }

    .layer-one-text p, .layer-two-text p, .layer-three-text p {
        margin-top: 0;
    }

    .layer-one-text h4, .layer-two-text h4, .layer-three-text h4 {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .work-layer-two {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 4rem;
    }

    .testimonial-subtitle {
        font-size: 2.5rem;
    }

    .testimonial-extratitle {
        font-size: 1.2rem;
    }
    
    .carousel {
        height: 9.375rem;
    }

    .testimonies p {
        padding: 0 1.3rem;
        font-size: 1.2rem;
    }
}